APP_DEBUG = trueDB_TYPE = mysqlDB_HOST = 127.0.0.1DB_NAME = financeDB_USER = rootDB_PASS = rootDB_PORT = 3306DB_CHARSET = utf8DEFAULT_LANG = zh-cn# 缓存配置CACHE_DRIVER = fileCACHE_PREFIX = cache_65deac784dadb:CACHE_TAG_PREFIX = cache_tag_65deac784dadb:# redis配置REDIS_HOSTNAME = 127.0.0.1REDIS_PORT = 6379REDIS_PASSWORD =REDIS_SELECT = 0